
.home-container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home-header {
    margin-bottom: 40px;
  }
  
  .play-button {
    background-color: #f04e31;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .play-button:hover {
    background-color: #c03d25;
  }
  
  .remaining-lots {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
  }
  
  .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px; 
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .item img {
    width: 100%; 
    height: auto; 
    max-height: 200px;
    object-fit: cover; 
  }
  
  .item p {
    font-size: 0.9em;
    color: #333;
    margin-top: 10px;
  }
  .rupture {
    position: relative;
  }
  
  .rupture::before {
    content: "Rupture";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 5px;
  }